.mobile-recharge {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.uae-mobile-providers {
  position: relative;
  line-height: 22px;
}
.image-logo-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.etisalat-online-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link-cards-block-it-item {
  flex: 1;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 53px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
  min-width: 180px;
}
.image-logo-icon1 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.du-online-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link-cards-block-it-item1 {
  flex: 0.8209;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 65px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
  min-width: 180px;
}
.image-logo-icon2 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.virgin-mobile {
  width: 74px;
  position: relative;
  line-height: 44px;
  display: flex;
  align-items: center;
}
.link-cards-block-it-item2 {
  flex: 0.597;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 80px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
  min-width: 180px;
}
.category-item-types,
.div-cards-block-it-items {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-cards-block-it-items {
  flex-direction: row;
  padding: 0 432px 0 0;
  gap: 24px;
  mix-blend-mode: normal;
  font-size: 16px;
  font-family: "Open Sans";
}
.category-item-types {
  flex-direction: column;
  gap: 16px;
}
.international-calling-cards {
  position: relative;
  line-height: 22px;
}
.image-logo-icon3 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.five-calling-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link-cards-block-it-item3 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 33px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
  min-width: 156px;
}
.image-logo-icon4 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.hello-calling-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link-cards-block-it-item4 {
  flex: 0.908;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 41px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
  min-width: 156px;
}
.category-item-types1,
.div-cards-block-it-items1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-cards-block-it-items1 {
  flex-direction: row;
  padding: 0 696px 0 0;
  gap: 24px;
  mix-blend-mode: normal;
  font-size: 16px;
  font-family: "Open Sans";
}
.category-item-types1 {
  flex-direction: column;
  gap: 16px;
}
.international-mobile-recharge {
  position: relative;
  line-height: 22px;
}
.image-logo-icon5 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.international-mobile-recharge1 {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon6,
.link-cards-block-it-item5 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item5 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 36px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon6 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.india-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon7,
.link-cards-block-it-item6 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item6 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 58px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon7 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.pakistan-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon8,
.link-cards-block-it-item7 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item7 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 48px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon8 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.philippines-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon9,
.link-cards-block-it-item8 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item8 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 41px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon9 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.nepal-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon10,
.link-cards-block-it-item9 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item9 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 55px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon10 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.bangladesh-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon11,
.link-cards-block-it-item10 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item10 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 40px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon11 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.nigeria-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon12,
.link-cards-block-it-item11 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item11 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 52px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon12 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.sri-lanka-mobile {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon13,
.link-cards-block-it-item12 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item12 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 47px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon13 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.egypt-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon14,
.link-cards-block-it-item13 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item13 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 57px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon14 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.indonesia-mobile-recharge {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link-cards-block-it-item14 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 45px 13px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: normal;
}
.category1,
.div-cards-block-it-items2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-cards-block-it-items2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px 64.7px;
  mix-blend-mode: normal;
  min-height: 590px;
  font-size: 16px;
  font-family: "Open Sans";
}
.category1 {
  width: 1158px;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}
.category-items {
  font-size: 18px;
}
.category,
.category-items {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.dubai-police {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
}
.dubai-police-fines {
  position: relative;
  line-height: 22px;
}
.image-logo-icon15 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.dubai-police1 {
  width: 69px;
  position: relative;
  line-height: 44px;
  display: flex;
  align-items: center;
}
.link-cards-block-it-item15 {
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 80px 13px;
  gap: 9px;
  mix-blend-mode: normal;
  font-size: 16px;
  font-family: "Open Sans";
}
.category-item {
  font-size: 18px;
}
.category-item,
.category2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.other {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 64px;
}
.image-logo-icon16 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.salik-recharge-online {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.category3,
.link-cards-block-it-item16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.link-cards-block-it-item16 {
  align-self: stretch;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  align-items: center;
  padding: 35px 60px 13px;
  gap: 10px;
  mix-blend-mode: normal;
  font-size: 16px;
  font-family: "Open Sans";
}
.category3 {
  width: 240px;
  align-items: flex-start;
  gap: 16px;
}
.gift-cards {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 108px;
}
.image-logo-icon17 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.pubg-mobile {
  width: 74px;
  position: relative;
  line-height: 44px;
  display: flex;
  align-items: center;
}
.link-cards-block-it-item17 {
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 80px 13px;
  gap: 10px;
  mix-blend-mode: normal;
}
.image-logo-icon18 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  mix-blend-mode: normal;
}
.netflix-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon19,
.link-cards-block-it-item18 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item18 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 73px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon19 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.amazonae-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon20,
.link-cards-block-it-item19 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item19 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 61px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon20 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.amazoncom-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon21,
.link-cards-block-it-item20 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item20 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 56px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon21 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.apple-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon22,
.link-cards-block-it-item21 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item21 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 75px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon22 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.google-play-gift {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon23,
.link-cards-block-it-item22 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item22 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 59px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon23 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.xbox-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon24,
.link-cards-block-it-item23 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item23 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 78px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon24 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.playstation-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.image-logo-icon25,
.link-cards-block-it-item24 {
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.link-cards-block-it-item24 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 60px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.image-logo-icon25 {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50px;
  object-fit: contain;
}
.steam-gift-cards {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.div-cards-block-it-items3,
.link-cards-block-it-item25 {
  display: flex;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.link-cards-block-it-item25 {
  width: 240px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 35px 74px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.div-cards-block-it-items3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 22px 64.7px;
  min-height: 590px;
  font-size: 16px;
  font-family: "Open Sans";
}
.category4 {
  width: 1158px;
  align-items: flex-start;
  gap: 24px;
}
.categories,
.category4,
.div-cards-block-it-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.div-cards-block-it-wrap {
  width: 1200px;
  align-items: flex-start;
  gap: 32px;
  mix-blend-mode: normal;
}
.categories {
  align-self: stretch;
  background-color: #fff0d3;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #3d160a;
  font-family: Manrope;
}
@media screen and (max-width: 1200px) {
  .div-cards-block-it-items {
    padding-right: 216px;
    box-sizing: border-box;
  }
  .div-cards-block-it-items1 {
    padding-right: 348px;
    box-sizing: border-box;
  }
  .categories {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .div-cards-block-it-items {
    flex-wrap: wrap;
  }
  .link-cards-block-it-item3,
  .link-cards-block-it-item4 {
    flex: 1;
  }
  .div-cards-block-it-items1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .div-cards-block-it-items {
    padding-right: 108px;
    box-sizing: border-box;
  }
  .div-cards-block-it-items1 {
    padding-right: 174px;
    box-sizing: border-box;
  }
  .div-cards-block-it-items2,
  .div-cards-block-it-items3 {
    gap: 32px;
  }
  .div-cards-block-it-wrap {
    gap: 16px;
  }
  .categories {
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mobile-recharge {
    font-size: 19px;
    line-height: 23px;
  }
  .link-cards-block-it-item1,
  .link-cards-block-it-item2 {
    flex: 1;
  }
  .div-cards-block-it-items,
  .div-cards-block-it-items1 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .div-cards-block-it-items2 {
    gap: 16px;
  }
  .dubai-police,
  .gift-cards,
  .other {
    font-size: 19px;
    line-height: 23px;
  }
  .div-cards-block-it-items3 {
    gap: 16px;
  }
}
