.contact-information {
  width: 111px;
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 111px;
  white-space: nowrap;
}
.contact-details,
.form-field {
  align-self: stretch;
  font-family: "Open Sans";
}
.form-field {
  border: 0;
  background-color: transparent;
  height: 54px;
  font-size: 16px;
  color: #3d160a;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.payment-information {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.card-information {
  position: relative;
  line-height: 22px;
}
.card-number-placeholder {
  width: 118px;
  position: relative;
  line-height: 135%;
  display: inline-block;
  white-space: nowrap;
}
.card-date-icon,
.card-date-icon1,
.card-date-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.card-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.form-field1,
.form-field2,
.form-field3 {
  font-family: "Open Sans";
  font-size: 16px;
  color: #d9d9d9;
}
.form-field1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  gap: 20px;
}
.form-field2,
.form-field3 {
  border: 0;
  background-color: transparent;
  height: 54px;
  flex: 1;
  min-width: 131px;
}
.card,
.expiry {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.card {
  flex-direction: column;
  font-size: 18px;
}
.carholder-name {
  position: relative;
  line-height: 22px;
}
.form-field4 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #d9d9d9;
}
.contact-details1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 18px;
}
.country-or-region,
.usa {
  position: relative;
  line-height: 22px;
}
.usa {
  width: 22px;
  display: inline-block;
}
.icon2,
.region-dropdown-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon2 {
  display: none;
}
.form-field5,
.region {
  align-self: stretch;
  display: flex;
}
.form-field5 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  gap: 20px;
  font-size: 16px;
  color: #d9d9d9;
  font-family: "Open Sans";
}
.region {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 18px;
}
.disclaimer-placeholder {
  margin: 0;
  height: 21px;
  width: 21px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.i-verified-that {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 253px;
  max-width: 100%;
}
.disclaimer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  max-width: 100%;
  flex-shrink: 0;
  font-family: "Open Sans";
}
.disclaimer-icon {
  width: 324.5px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.i-verified-that1 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
  font-family: "Open Sans";
}
.button5 {
  align-self: stretch;
  height: 54px;
}
.contact1 {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: 16px;
  color: #3d160a;
  font-family: Manrope;
}
@media screen and (max-width: 450px) {
  .payment-information {
    font-size: 19px;
    line-height: 23px;
  }
  .disclaimer,
  .expiry,
  .form-field1 {
    flex-wrap: wrap;
  }
  .button5 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
