.afgpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.afghanistan,
.link1 {
  display: flex;
  align-items: center;
}
.afghanistan {
  width: 89px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link1 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.albpng-icon {
  width: 111.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.albania,
.link2 {
  display: flex;
  align-items: center;
}
.albania {
  width: 56px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link2 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.dzapng-icon {
  width: 106.7px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.algeria,
.link3 {
  display: flex;
  align-items: center;
}
.algeria {
  width: 52px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link3 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.asmpng-icon {
  width: 114.5px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.american-samoa {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link4 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 34px 80px 12px;
  box-sizing: border-box;
  gap: 10px;
}
.agopng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.angola,
.link5 {
  display: flex;
  align-items: center;
}
.angola {
  width: 52px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link5 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.aiapng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.anguilla,
.link6 {
  display: flex;
  align-items: center;
}
.anguilla {
  width: 60px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link6 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.atgpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.antigua-and-barbuda {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link7 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 34px 65px 12px;
  box-sizing: border-box;
  gap: 10px;
}
.argpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.argentina,
.link8 {
  display: flex;
  align-items: center;
}
.argentina {
  width: 73px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link8 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 78px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.armpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.armenia,
.link9 {
  display: flex;
  align-items: center;
}
.armenia {
  width: 64px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link9 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.abwpng-icon {
  width: 106.7px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.aruba,
.link10 {
  display: flex;
  align-items: center;
}
.aruba {
  width: 46px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link10 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.auspng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.austria,
.link11 {
  display: flex;
  align-items: center;
}
.austria {
  width: 53px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link11 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bhspng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bahamas,
.link12 {
  display: flex;
  align-items: center;
}
.bahamas {
  width: 70px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link12 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bhrpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bahrain,
.link13 {
  display: flex;
  align-items: center;
}
.bahrain {
  width: 59px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link13 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 74px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bgdpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bangladesh,
.link14 {
  display: flex;
  align-items: center;
}
.bangladesh {
  width: 87px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link14 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 74px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.brbpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.barbados,
.link15 {
  display: flex;
  align-items: center;
}
.barbados {
  width: 72px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link15 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.belpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.belgium,
.link16 {
  display: flex;
  align-items: center;
}
.belgium {
  width: 61px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link16 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.blzpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.belize,
.link17 {
  display: flex;
  align-items: center;
}
.belize {
  width: 44px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link17 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.benpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.benin,
.link18 {
  display: flex;
  align-items: center;
}
.benin {
  width: 43px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link18 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bmupng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bermuda,
.link19 {
  display: flex;
  align-items: center;
}
.bermuda {
  width: 70px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link19 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bolpng-icon {
  width: 117.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.bolivia,
.link20 {
  display: flex;
  align-items: center;
}
.bolivia {
  width: 49px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link20 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bwapng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.botswana,
.link21 {
  display: flex;
  align-items: center;
}
.botswana {
  width: 74px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link21 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 69px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.brapng-icon {
  width: 114.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.brazil,
.link22 {
  display: flex;
  align-items: center;
}
.brazil {
  width: 42px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link22 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.vgbpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.british-virgin-islands {
  width: 148.7px;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 135%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link23 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bfapng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.burkina-faso,
.link24 {
  display: flex;
  align-items: center;
}
.burkina-faso {
  width: 93.2px;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 135%;
  justify-content: center;
}
.link24 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.bdipng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.burundi,
.link25 {
  display: flex;
  align-items: center;
}
.burundi {
  width: 61px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link25 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 74px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.khmpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cambodia,
.link26 {
  display: flex;
  align-items: center;
}
.cambodia {
  width: 76px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link26 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cmrpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cameroon,
.link27 {
  display: flex;
  align-items: center;
}
.cameroon {
  width: 79px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link27 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.canpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.canada,
.link28 {
  display: flex;
  align-items: center;
}
.canada {
  width: 57px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link28 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cpvpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cape-verde,
.link29 {
  display: flex;
  align-items: center;
}
.cape-verde {
  width: 82.5px;
  position: relative;
  letter-spacing: -0.33px;
  line-height: 135%;
  justify-content: center;
}
.link29 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cympng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cayman-islands,
.link30 {
  display: flex;
  align-items: center;
}
.cayman-islands {
  width: 115.4px;
  position: relative;
  letter-spacing: -0.11px;
  line-height: 135%;
  justify-content: center;
}
.link30 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cafpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.central-african-republic {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  white-space: nowrap;
}
.link31 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 34px 54px 12px;
  box-sizing: border-box;
  gap: 10px;
}
.chlpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.chile,
.link32 {
  display: flex;
  align-items: center;
}
.chile {
  width: 37px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link32 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.chnpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.china,
.link33 {
  display: flex;
  align-items: center;
}
.china {
  width: 43px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link33 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.colpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.colombia,
.link34 {
  display: flex;
  align-items: center;
}
.colombia {
  width: 71px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link34 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 20px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cripng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.costa-rica,
.link35 {
  display: flex;
  align-items: center;
}
.costa-rica {
  width: 75.7px;
  position: relative;
  letter-spacing: -0.09px;
  line-height: 135%;
  justify-content: center;
}
.link35 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 74px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cubpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cuba,
.link36 {
  display: flex;
  align-items: center;
}
.cuba {
  width: 39px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link36 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 35px;
  box-sizing: border-box;
  gap: 10px;
}
.cuwpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.curacao,
.link37 {
  display: flex;
  align-items: center;
}
.curacao {
  width: 62px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link37 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 80px 14px;
  box-sizing: border-box;
  gap: 31px;
}
.cyppng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cyprus,
.link38 {
  display: flex;
  align-items: center;
}
.cyprus {
  width: 52px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link38 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 74px 14px;
  box-sizing: border-box;
  gap: 31px;
}
.codpng-icon {
  width: 119.9px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.congo,
.democratic-republic-of {
  margin: 0;
}
.democratic-republic-of-container {
  align-self: stretch;
  height: 42px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link39 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 43px 13px;
  box-sizing: border-box;
  gap: 10px;
}
.dmapng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dominica,
.link40 {
  display: flex;
  align-items: center;
}
.dominica {
  width: 71px;
  position: relative;
  line-height: 135%;
  justify-content: center;
}
.link40 {
  height: 180px;
  width: 282px;
  box-shadow: 0 4px 8px rgba(7, 61, 180, 0.08);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 61px 14px;
  box-sizing: border-box;
  gap: 31px;
}
.country-links {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 2016px;
  gap: 20px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #3d160a;
  font-family: "Open Sans";
}
@media screen and (max-width: 450px) {
  .link12,
  .link13,
  .link14,
  .link19,
  .link21,
  .link23,
  .link25,
  .link30,
  .link31,
  .link35,
  .link36,
  .link4,
  .link6,
  .link7,
  .link8,
  .link9 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .link37,
  .link38 {
    gap: 15px;
  }
  .link37,
  .link38,
  .link39,
  .link40 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .link40 {
    gap: 15px;
  }
}
