.your-cart {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.your-cart-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans";
}
.frame-parent {
  width: 849.4px;
  background-color: #fff0d3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  z-index: 1;
}
.frame-container,
.frame-wrapper,
.responsive-navbar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  background-color: #fff0d3;
  overflow: hidden;
  justify-content: center;
  padding: 81.5px 20px;
  box-sizing: border-box;
}
.frame-wrapper,
.responsive-navbar-parent {
  align-self: stretch;
  justify-content: flex-start;
}
.responsive-navbar-parent {
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #3d160a;
  font-family: Manrope;
}
@media screen and (max-width: 750px) {
  .your-cart {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .your-cart {
    font-size: 29px;
    line-height: 32px;
  }
}
